<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="moodlerest.Properties.moodlerest" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <moodlerest.Properties.moodlerest>
            <setting name="MoodleBase" serializeAs="String">
                <value>http://path.to/moodle/webservice/restjson/server.php</value>
            </setting>
            <setting name="MoodleToken" serializeAs="String">
                <value />
            </setting>
            <setting name="GeoUser" serializeAs="String">
                <value>demo</value>
            </setting>
            <setting name="GeoPass" serializeAs="String">
                <value />
            </setting>
            <setting name="MEntropy" serializeAs="String">
                <value />
            </setting>
            <setting name="GEntropy" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrQueue" serializeAs="String">
                <value />
            </setting>
            <setting name="DupQueue" serializeAs="String">
                <value />
            </setting>
            <setting name="OTRSCustomer" serializeAs="String">
                <value>moodlerest</value>
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value>moodle.db</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPass" serializeAs="String">
                <value />
            </setting>
            <setting name="DBEntropy" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPort" serializeAs="String">
                <value />
            </setting>
        </moodlerest.Properties.moodlerest>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>